    <%- include('../partials/head') %>
    
<body>
    
    <%- include('../partials/header') %>
    

    <main id="shop" class="grid-container container">
        <aside class="shop__aside">
            <div>
                <label class="shop__title" for="search">BUSCAR</label>
                <input class="shop__input" name="search" type="text" placeholder="Item o categoria">
            </div>
            <div>
                <label class="shop__title" for="orderby">ORDENAR POR</label>
                <select class="shop__order" name="orderby" id="orderby">
                    <option value="az">A-Z</option>
                    <option value="za">Z-A</option>
                    <option value="desc">Mayor precio</option>
                    <option value="asc">Menor precio</option>
                </select>
            </div>
            <div>
                <spam class="shop__title">PRECIO</spam>
                <div class="shop__price-content">
                    <label class="shop__text" for="min">MIN:</label> 
                    <input class="shop__box" type="number" name="min" id="min" placeholder="0">
                    <label  class="shop__text" for="max">- MAX:</label>
                     <input class="shop__box" type="number" name="max" id="max" placeholder="0">
                </div>
            </div>
            <div>
                <p class="shop__text">FILTRAR</p>
                <div>
                    <div class="shop__items">
                        <input class="shop__checkbox" type="checkbox" name="NUEVOS" id="">
                        <p class="shop__checkbox-text">NUEVOS</p>
                    </div>
                    <div class="shop__items">
                        <input class="shop__checkbox" type="checkbox" name="OFERTAS" id="">
                        <p class="shop__checkbox-text">OFERTAS</p>
                    </div>
                    <div class="shop__items">
                        <input class="shop__checkbox" type="checkbox" name="EDICIÓN ESPECIAL" id="">
                        <p class="shop__checkbox-text">EDICIÓN ESPECIAL</p>
                    </div>
                    <div class="shop__items">
                        <input class="shop__checkbox" type="checkbox" name="FAVORITOS" id="">
                        <p class="shop__checkbox-text">FAVORITOS</p>
                    </div>
                </div>
            </div>
        </aside>
        <section class="grid-slider">
            <div class="slider">
                <ul class="slider__items">
                    <% data.forEach( item => { %>
                        <li class="slider__item">
                            <article class="card-item">
                                <a class="card-item__link" href="/shop/item/<%= item.product_id %>">
                                    <picture class="card-item__cover">
                                        <img class="card-item__img--front" src="<%= item.img_front %>"
                                            alt="Figura coleccionable Funko de un Stormtrooper">
                                        <img class="card-item__img--back" src="<%= item.img_back %>"
                                            alt="Figura coleccionable Funko de un Stormtrooper en caja">
                                    </picture>
                                    <div class="card-item__content">
                                        <p class="card-item__licence"><%= item.licence_name %></p>
                                        <h3 class="card-item__name"><%= item.product_name %></h3>
                                        <p class="card-item__price">$ <%= item.price %>.-</p>
                                        <p class="card-item__promo"><%= item.dues %> CUOTAS SIN INTERÉS</p>
                                    </div>
                                </a>
                            </article>
                        </li>
                <% }) %>
                </ul>
            </div>
            <div class="pagination">
                <a class="pagination__link pagination__link--chevron" href="#"><</a>
                <a class="pagination__link pagination__link--selected" href="#">1</a>
                <a class="pagination__link" href="#">2</a>
                <a class="pagination__link" href="#">3</a>
                <a class="pagination__link" href="#">4</a>
                <a class="pagination__link" href="#">5</a>
                <a class="pagination__link" href="#">></a>
            </div>
        </section>
    </main>

    <!--Inicio Footer-->
    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
    
</body>
</html>